<div class="task_block" id={{task.id}}>
    <div class="task_options">
        <select name="priority" id="priority" [(ngModel)]="selectedPriority"
            [ngClass]="{'low': selectedPriority === 'low', 'high': selectedPriority === 'high'}">
            <option value="low">Low</option>
            <option value="high">High</option>
        </select>
        <span (click)="showOptions()">...</span>
        <div *ngIf="confirmation" class="delete_confirmation" (mouseleave)="declineOptions()">
            <button>Change</button>
            <button (click)="deleteTask(task.id, task.name)">Delete</button>
        </div>
    </div>
    <h1>{{task.name}}</h1>
    <p>{{task.description}}</p>
</div>