<div class="wrapper_side_menu">
    <div class="title_block">
        <div class="title_wrapper">
            <h1 class="title"><span>&#9729;</span>Kanban</h1>
            <span><<</span>
        </div>
    </div>
    <div class="main_menu_block">
        <ul>
            <li>Home</li>
            <li>Messages</li>
            <li>Tasks</li>
            <li>Members</li>
            <li>Settings</li>
        </ul>
    </div>
    <div class="projects_block">
        <div class="projects_block_title">
            <h2>my projects</h2>
            <span>+</span>
        </div>
        <div class="project_lists">
            <ul *ngFor="let project of projects">
                <li class="">
                    <p><a [routerLink]="['/projects', project.projectName]">{{project.projectName}}</a></p>
                </li>
                <!-- <li>
                    <p>Website Redesign</p>
                </li>
                <li>
                    <p>Design System</p>
                </li>
                <li>
                    <p>Wireframes</p>
                </li> -->
            </ul>
        </div>
    </div>
</div>