<div class="wrapper_side_menu">
    <div class="title_block">
        <div class="title_wrapper">
            <h1 class="title"><a routerLink="/welcome"><span>&#9729;</span>Kanban</a></h1>
            <span class="show_menu" title="Not implemented"><<</span>
        </div>
    </div>
    <div class="main_menu_block">
        <ul>
            <li title="Not implemented">Home</li>
            <li title="Not implemented">Messages</li>
            <li title="Not implemented">Tasks</li>
            <li title="Not implemented">Members</li>
            <li title="Not implemented">Settings</li>
        </ul>
    </div>
    <div class="projects_block">
        <div class="projects_block_title">
            <h2 routerLink="/projects">my projects</h2>
        </div>
        <div class="project_lists">
            <ul *ngFor="let project of projects">
                <li class="">
                    <p><a [routerLink]="['/projects', project.title]">{{project.title}}</a></p>
                </li>
                <!-- <li>
                    <p>Website Redesign</p>
                </li>
                <li>
                    <p>Design System</p>
                </li>
                <li>
                    <p>Wireframes</p>
                </li> -->
            </ul>
        </div>
    </div>
</div>