.search_anything {
    width: 26.0625rem;
    padding: 0.8rem;
    height: 2.75rem;
    border-radius: 0.375rem;
    background: #F5F5F5;
    color: #787486;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30rem;
}