<div class="main_wrapper">
    <ul>
        <li *ngFor="let snippet of snippets">
            <a class="snippet" [routerLink]="snippet.title">{{snippet.title}}</a>
        </li>
        <li>
            <a (click)="openAddProjectForm()" class="snippet">+</a>
        </li>
    </ul>

</div>
<div *ngIf="showForm" class="center-form">
    <!-- Форма для добавления новой задачи -->
    <div class="input_task_form">
        <input [(ngModel)]="newProjectName" placeholder="Project Name" class="input_name">
        <select [(ngModel)]="selectedUser">
            <option *ngFor="let user of userData" [value]="user._id">{{user.name}}</option>
        </select>
        <button (click)="addProject()" class="input_task_btn">&#9745;</button>
        <button (click)="closeAddProjectForm()" class="input_task_btn">&#9746;</button>
    </div>
</div>