.main_wrapper {
    margin-left: 15.66rem;
    height: calc(100vh - 5.5rem);
    max-width: 100%;
    background-color: white;
    border-bottom-right-radius: 1.875rem;
    padding-left: 3.03rem;
    overflow: auto;
    scroll-behavior: smooth;
    padding-top: 2.56rem;
}

.snippets_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.add_project_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 19.625rem;
    height: 16.125rem;
    border-radius: 1rem;
    padding: 1.5rem 1.25rem;
    cursor: pointer;
}

.add_project_container:hover {
    .add_project_btn {
        transform: scale(1.1);
    }
}

