.board_header {
    height: 5.5rem;
    max-width: 100%;
    margin-left: 15.66rem;
    border-bottom: 1px solid #DBDBDB;
    border-top-right-radius: 1.875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.03rem;
    background: #FFF;
}